html, body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

form{
    direction: rtl;
}

header{
    text-align: right;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px #ced4da solid;
    margin-bottom: 4%;
    font-size: larger;
}

.form-group{
    margin-bottom: 0.4rem !important;
}

label{
    float: right;
}

.wrapper{
    margin-top: 5%;
    border: 1px #ced4da solid;
    padding: 2%;
    margin-left: 6%;
    flex:0 0 88% ;
    max-width: 88% ;
    background-color: #f7f7f7;

}

.students-list-btn{
    float: right;
}

.btn:disabled{
  opacity: 0.4;
  cursor: not-allowed !important;
}

button{
    margin-top: 1.8vh;
}

@media (min-width: 768px){
.wrapper{
    margin-left: 25% !important;
    flex:0 0 50% !important;
    max-width: 50% !important;
}
}