<div class="rtl wrapper">
  <div class="title"> אנשי קשר </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">מועדף</th>
          <th scope="col">שם איש קשר</th>
          <th scope="col">סוג</th>
          <th scope="col">תעודת זהות</th>
          <th scope="col">טלפון נייד</th>
          <th scope="col">דוא"ל</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of insurteds | async; let i=index">
          {{contact.counterId}}
          <ng-container *ngIf="!contact.isEdit">
            <td><input type="checkbox" /></td>
            <td>{{ contact.name}}</td>
            <td>{{ contact.name}}</td>
            <td>{{ contact.adress}}</td>
            <td>{{ contact.phone | phoneFormat}}</td>
            <td>{{ contact.mail}}</td>
          </ng-container>
          <ng-container *ngIf="contact.isEdit">
            <ng-container class="box-border" *ngIf="dataJson">
 
            <app-contact-form  [formNumber]="i" [contact]="contact" (addContat)="addContatToList()"></app-contact-form>
            </ng-container>
          </ng-container>


        </tr>
      </tbody>
    </table>
    <button type="button" (click)="addContatToList()" class="linkStyle">הוסף איש קשר</button>

  </div>


</div>