<ng-container>
  <ng-container *ngFor="let control of controlsList">
    <ng-container [ngSwitch]="control.type" class="mb-2">

      <td *ngSwitchCase="'dropdowns'" class="col-2">
        <select [formControl]="formControls[control.field]">
          <option disabled></option>
          <option [disabled]="control.isActive==false" *ngFor="let option of control.properties" [id]="option.code">
            {{option.value}}</option>
        </select>
        <app-error-message [control]="formControls[control.field]"></app-error-message>
      </td>

      <td *ngSwitchCase="'text'" class="col-2">
        <input type="text" [formControl]="formControls[control.field]" [id]="control.field" />
        <app-error-message [control]="formControls[control.field]"></app-error-message>

      </td>

      <td *ngSwitchCase="'checkbox'" class="col-1">
        <input type="checkbox" [formControl]="formControls[control.field]" [value]="formControls[control.field].value"
          [id]="control.field" />

      </td>

    </ng-container>
  </ng-container>
  <td>
    <button type="button" (click)="addContatToList()" class="linkStyle">+</button>
  </td>
</ng-container>