.table{
    text-align: right;
    margin: 0% 2% 0% 2%;
}

.table tr{
    font-size: 90%;
    white-space: nowrap;
}

caption{
    color: black;
    text-align: right;
    caption-side: top;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 4.75rem;
}

.add-button{
    float: left;
}