<div class="rtl wrapper">
  <div class="title">ריכוז אנשי קשר </div>

  <div>
    <label>פרטי מבוטח: </label>
    <div class="row">
      <label class="col-3">מס' אנשי קשר בתהליך : {{count}}  </label>
      <label class="col-3">פעולות אפשריות: </label>
      <div class="col-6 inline">
        <button type="button" class="btn btn-secondary" (click)="addInsured()" [disabled]="added==true">הוספת מבוטח</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="resetAll()">איפוס מלא</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="reset()">איפוס אנשי קשר</button>
      </div>
    </div>



  </div>


</div>